
<form method="post" action="/api/uploads/upload" enctype="multipart/form-data">
    <label>Pet Name</label>
    <input type="text" name="title">
    <label>Post-URL</label>
    <input type="text" name="post_url">
    <label>User-id</label>
    <input type="number" name="user_id">
    <h1>Upload Image</h1>
    <input type="file" name="petImage">
    <input type="submit">
</form>