header {
  background-color: gray;

}

header h1{
  display: flex;
  padding-top: 10px;
  justify-content: center;
  text-decoration: none;
  height: 80px;
}

#loginBTN {
  margin: 10px;
  padding: 2px;
  font-size:20px;
  background-color: aliceblue;
}

#loginBTN:hover {
  margin: 10px;
  padding: 2px;
  font-size:20px;
  background-color: rgb(21, 226, 56);
}